<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<dom-module id = "my-alta">
  <template>

    <style>
      :host {
        display: inline-block;
        background-color: inherit;
      }
    </style>
    <div><span>Nuevo Post</span></div>
    <!-- linea mensaje para mostrar en pantalla -->
    <div>
      <input name="mensajealt" type="text" class="general" readonly style="border:0; background-color:inherit; font-size:large; font-weight:bold; color:red; text-transform:uppercase;">
    </div>

<!-- Bloque para introducir los datos del nuevo post. -->
      <input type="text" class="general" maxlength="40" id="tituloInput" name="tituloInput" placeholder="Titulo" required=""/>
      <textarea class="form-control" rows="3" id="textoInput" name="textoInput" placeholder="Cuentame" required=""></textarea>

      <input type="text" name="fechaInput" class=class="col-xs-3" disabled="disabled" placeholder="YYYY/MM/DD" value="[[fechaHoy]]" disabled="disabled"/>
      <input type="text" class="general" id="localidadInput" name="localidadInput" placeholder="Localidad" required=""/>
<!--
      <input type="text" class="general" id="provinciaInput" name="provinciaInput" placeholder="Provincia" required=""/>
-->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMen1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Provincia
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMen1">
          <li><a href="#">Granada</a></li>
          <li><a href="#">Madrid</a></li>
          <li><a href="#">San Sebastian</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Toledo</a></li>
        </ul>
      </div>


<!-- Pintamos botones
     Añadir Post (de 1 1)-->
     <!-- Pintamos botones
          Añadir Post (de 1 1)-->

    <button type="button" class="btn btn-primary" name="btnGrabarPost" on-click="grabarPost">Añadir post</button>

    </template>
      <script>

    // Heredamos del Polymer element.
          Polymer({
            is: 'my-alta',
            //son la propiedades del Polymer. Es donde vamos a guardar los valores que se pueden cambiar de
            //manera dinámica dentro del código HTML.
            properties:{
                    listado: Array,
                    titulo: String,
                    texto: String,
                    fechaHoy: String
                },
            listeners: {
            },
            //Con boton Añadir Post se lanza la función grabarPost, incluye nuevas entradas en la colección post

            grabarPost: function() {
              var URLItem = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy";
              //-- compruebo si el usuario ha hecho Login -->
              //var usuario = sessionStorage.getItem("usuario");
              var controllogin = null;

              if (usuario != controllogin )
                  {
                 var titulo = document.getElementsByName("tituloInput")[0].value;
                 var texto = document.getElementsByName("textoInput")[0].value;
                 var localidad = document.getElementsByName("localidadInput")[0].value;
                 var provincia = document.getElementsByName("provinciaInput")[0].value;
                 console.log("Titulo: " + titulo + "Texto: " + texto + "Localidad: " + localidad + "Provincia: " + provincia);
                 var peticion = new XMLHttpRequest();
                 peticion.open("POST", URLItem, false);
                 peticion.setRequestHeader("Content-Type", "application/json");
                 peticion.send('{"titulo":"' + titulo + '", "texto": "' + texto + '", "localidad": "' + localidad + '", "provincia": "' + provincia + '", "valoracion":"0", "autor": "' + usuario + '", "fecha": "' + fecha + '"}');
          //Si el alta  ha sido correcta forzamos la recarga de los post. De este modo vemos que la nuevas
          //entradas se muestran en la parte de arriba de la lista de post.
                  if (peticion.status == 200)
                      {
                        this.obtenerPost();
                      } else {
                        alert("ha habido un problema: " + peticion.responseText);
                             }
                  }
              else
                  {
                    document.getElementsByName("mensajealt")[0].value = "Por favor, haz login antes de publicar un post";
                  }
              },


          obtenerFecha: function() {
             var f = new Date();
             var mes = f.getMonth() + 1;
             this.fechaHoy = f.getFullYear() + "/"
             if (mes < 10) { this.fechaHoy += "0" + mes + "/" }
             else { this.fechaHoy += mes + "/" }
               if (f.getDate() < 10) { this.fechaHoy += "0" + f.getDate() }
               else { this.fechaHoy += f.getDate() }
            },

            ready: function() {
                 this.obtenerFecha();
                 var usuario = sessionStorage.getItem("usuario");
             }
            })
  </script>
</dom-module>
