<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-consulta">
  <template>
    <script src="consumepostsmongo.js" charset="utf-8"></script>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        display: inline-block;
        background-color: inherit; <!-- Indico color de fondo para diferenciar area del compoennte -->
      }
    </style>

    <div class = "container" style="max-width: 800px">
      <div class="wrapper">
    <!-- linea mensaje para mostrar en pantalla -->
           <div>
            <input name="mensajetot" type="text" readonly class="general" style="border:0; background-color:inherit; font-size:large; font-weight:bold; color:red; text-transform:uppercase;">
          </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
       <thead>
          <tr>
            <th>Titulo</th>
            <th>Texto</th>
            <th style="max-width: 200px">Localidad</th>
            <th>Provincia</th>
            <th>Fecha</th>
          </tr>
        </thead>
<!-- Este template "dom-repeat" permite pintar tantas veces lo que llega en 'listado'.
 Dentro del template preparamos la presentación tal y como se necesita haciendo referencia
 a cada uno de los elementos del json (listado) -->
        <tbody>
<!-- items="{{listado}}"
listado es una de las propiedades del Polymer. Es donde vamos a guardar todos los post
que tenemos en mongoDB. listado se actualiza dentro de la función obtenerPost -->
         <template is="dom-repeat" items="{{listado}}">
          <tr>
         <div class="card">
            <td>{{item.titulo}}</td>
            <td>{{item.texto}}</td>
            <td>{{item.localidad}}</td>
            <td>{{item.provincia}}</td>
            <td>{{item.fecha}}</td>
          </div>
          </tr>
          </template>
        </tbody>
      </table>
    </div>

  </template>
    <script>
      /* Lo siguiente es porque heredamos del Polymer element. Se podria hacer como en my-view poniendo class...
      class MyView1 extends Polymer.Element {
        static get is() { return 'my-view1'; }
      }
      */
      // Heredamos del Polymer element.
            Polymer({
              is: 'my-consulta',
              //son la propiedades del Polymer. Es donde vamos a guardar los valores que se pueden cambiar de
              //manera dinámica dentro del código HTML.
              properties:{
                      listado: Array,
                      clave: String,
                      titulo: String,
                      texto: String,
                      nombre: String,
                      fecha: String
                  },
              listeners: {
              },
//obtenerPost obtiene la lista de post de tu database y collections en mlab
    //           en mi caso database es 'bootcamp'
    //           en mi caso las colecciones 'posts'
   //           se le añade el apiKey de malb: con el apiKey ya identificamos que es nuestro area dentro de mlab
              //           {"_id": -1} provoca que los post aparezcan ordenados de modo descendente por el ID que asigna
              //                        mongoDB. Así se muestran los post de más nuevos a más antiguos.
            obtenerPost: function() {
              const URL = 'https://api.mlab.com/api/1/databases/bootcamp/collections/posts?s={"_id": -1}&apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy';
              var response;
              document.getElementsByName("mensajetot")[0].value = "";
              var peticion = new XMLHttpRequest();
              peticion.open("GET", URL, false);
              peticion.setRequestHeader("Content-Type", "aplication/json");
              peticion.send();

              response = JSON.parse(peticion.responseText);
              //en response se recoge el texto plano que devuelve la api de mlab y se parse como json
              // de este modo podemos tratarla y pintarla.
              //'listado' es la variable que hemos creado en las 'properties' del Polymer
              // Además 'listado' es el valor que se pasa en la variable del template que tiene 'dom-repeat'
              // Como 'dom-repeat' espera un JSON ya puede pintarlo tantas veces como sea necesario
              this.listado = response;
              console.log(response);
              },

      salir: function () {
          localStorage.removeItem('session');
          this.session=null;
             },
//**** esta funcion se ejecuta siempre que se carga la pagina
      ready: function() {
          this.obtenerPost();
          document.getElementsByName("mensajetot")[0].value = "";
          }
      })
    </script>
</dom-module>
