<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="maps" href="https://www.google.com/maps/place/Spain">
<dom-module id="my-home">
  <template>
    <script src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyA1edXivhczd8VGcWtxgfScgGP_1yTdyic"></script>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJLz6Tw3fhE5uRQgTNwJNbeqT-fpX1yfSkW2GGxGoZorb3KLwH">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">De tapeo por España</h4>
        <p>La combinación de viajar y descubrir la mejor gastronomía de cada lugar es un tándem perfecto para muchos.
           De hecho, gran parte de los viajeros buscan, entre otras cosas, disfrutar del buen comer en sus escapadas y
           vacaciones.</p>

        <p>León, Granada, San Sebastián, Pamplona, Logroño, Barcelona, Cádiz, Córdoba son  algunas de las ciudades que
           podemos visitar y descubrir a través de sus tapas.

           Aunque hay diferencias en estilo y presentación, el tapeo está presente en cualquier rincón de España.</p>

        <p>Regístrate y comparte con nosotros tus lugares favoritos o las tapas que más te gustaron.</p>
      </div>
    </div>

      <div>
        <a href="#">
         <img src="https://maps.googleapis.com/maps/api/staticmap?center=Spain&zoom=4&scale=1&size=300x168&format=png&markers=color:green%7Clabel:A%7CGranada&markers=color:blue%7Clabel:B%7CMadrid&markers=color:red%7Clabel:C%7CBarcelona&Key=AIzaSyA1edXivhczd8VGcWtxgfScgGP_1yTdyic">
        </a>
      </div>

  </template>

  <script>
    class MyHome extends Polymer.Element {
      static get is() { return 'my-home'; }
    }

    window.customElements.define(MyHome.is, MyHome);
  </script>
</dom-module>
