<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<dom-module id = "my-login">
  <template>
    <style>
      :host {
        display: inline-block;
        background-color: inherit;
      }
    </style>

    <div class = "container" style="max-width: 400px">
      <div class="wrapper">
        <div name="Login_Form" class="form-signin">
          <h3 class="form-signin-heading">Inicie sesión</h3>
    	      <hr class="colorgraph"><br>
             <i class="glyphicon glyphicon-user"></i>
             <input type="text" class="form-control" id="nombreLog" name="nombreLog" placeholder="Username" required="" autofocus="" />
             <i class="glyphicon glyphicon-lock"></i>
             <input type="password" class="form-control" id="passwordLog" name="passwordLog" placeholder="Password" required=""/>
      	      <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="button" on-click="hacerLogin">Login</button>
           <input name="mensajelog" type="text" style="border:0; background-color:inherit; font-size:large; font-weight:bold; color:red; text-transform:uppercase;">
        </div>
      </div>
    </div>

    </template>
    <script>
       Polymer({
         is: 'my-login',
         properties: {
           URLlogin: {
             type: String,
             value:"http://postgrebc9688.cloudapp.net:3000/api/login"
           }
         },
         listeners: {
         },
         hacerLogin: function() {
             var nombre = document.getElementsByName("nombreLog")[0].value;
             var password = document.getElementsByName("passwordLog")[0].value;
             console.log(nombre);
             console.log(password);
             var peticion = new XMLHttpRequest();
             peticion.open("POST", this.URLlogin, false);
             peticion.setRequestHeader("Content-Type", "application/json");
             peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
             peticion.send('{"nombre":"' + nombre + '", "password": "' + password + '"}');
             console.log('{"nombre":"' + nombre + '", "password": "' + password + '"}');
             var respuesta = JSON.parse(peticion.responseText);
             console.log(peticion.responseText);
             if (peticion.status=="200" && respuesta.data.count > 0)
             {
                 alert("Login correcto");
//                 document.getElementsByName("mensajelog")[0].value = "Login correcto";
                 sessionStorage.setItem("usuario", nombre);
                 this.$.nombreLog.value = "";
                 this.$.passwordLog.value = "";
             }
             else
             {
                 alert("Login incorrecto");
            //     document.getElementsByName("mensajelog")[0].value = "Login incorrecto";
             }
         },
//**** esta funcion se ejecuta siempre que se carga la pagina
        ready: function() {
          document.getElementsByName("mensajelog")[0].value = "";
         }
       })
     </script>
   </dom-module>
