<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<dom-module id = "my-mongocomponente">
  <template>

    <style>
      :host {
        display: inline-block;
        background-color: inherit;
      }
    </style>

    <div class = "container" style="max-width: 800px">
      <div class="wrapper">
<!-- linea mensaje para mostrar en pantalla -->
       <div>
        <input name="mensajelab" type="text" class="general" style="border:0; background-color:inherit; font-size:large; font-weight:bold; color:red; text-transform:uppercase;">
       </div>
    <!-- Bloque para introducir los datos del nuevo post. -->
          <div>
           <textarea class="form-control" rows="1" id="tituloInput" name="tituloInput" placeholder="Titulo" required=""></textarea>
           <textarea class="form-control" rows="3" id="textoInput" name="textoInput" placeholder="Cuentame" required=""></textarea>
          </div>
          <div>
           <input type="text" class="general" id="localidadInput" name="localidadInput" placeholder="Localidad"/>
           <input type="text" class="general" id="provinciaInput" name="provinciaInput" placeholder="Provincia"/>
           <input type="text" name="fechaInput" class=class="col-xs-3" disabled="disabled" placeholder="YYYY/MM/DD" value="[[fechaHoy]]" disabled="disabled"/>
         </div>
       </div>
    </div>


    <!-- Pintamos botones
         Añadir Post (de 1 1)-->
         <!-- Pintamos botones
              Añadir Post (de 1 1)-->

      <button type="button" class="btn btn-primary" name="btnGrabarPost" on-click="grabarPost">Añadir post</button>


<!-- Obtener Post: se recoge en lista con identificador para poder eliminar por id
      <button type="button" class="btn btn-primary" name="btnObtenerPosts" on-click="obtenerPost">Obtener posts</button>
-->
      <button type="button" class="btn btn-primary" name="btnObtenerMisPosts" on-click="obtenerMisPost">Mis posts</button>

      <div class="table-responsive">
        <table class="table table-striped">
         <thead>
            <tr>
              <th>Titulo</th>
              <th>Texto</th>
              <th style="max-width: 200px">Localidad</th>
              <th>Provincia</th>
            </tr>
          </thead>
<!-- Este template "dom-repeat" permite pintar tantas veces lo que llega en 'listado'.
   Dentro del template preparamos la presentación tal y como se necesita haciendo referencia
   a cada uno de los elementos del json (listado) -->
          <tbody>
<!-- items="{{listado}}"
  listado es una de las propiedades del Polymer. Es donde vamos a guardar todos los post
  que tenemos en mongoDB. listado se actualiza dentro de la función obtenerPost -->
           <template is="dom-repeat" items="{{listado}}">
            <tr>
<!-- {{item._id.$oid}}
 es el ID que asiga por defecto mongoDB a cada una de las entradas de la colección.
 -->
           <div class="card">
              <td>{{item.titulo}}</td>
              <td>{{item.texto}}</td>
              <td>{{item.localidad}}</td>
              <td>{{item.provincia}}</td>
  <!-- A cada botón le asignamos el ID de cada uno de los post a eliminar. Este valor se incluye dentro
     de la propiedad value del botón -->
              <td><button value="{{item._id.$oid}}" class="btn btn-primary btn-sm" on-tap="borrarPost">Borrar</button></td>
              <td><button value="{{item._id.$oid}}" class="btn btn-primary btn-sm" on-tap="modificarPost">Modificar</button></td>
            </div>
            </tr>
            </template>
          </tbody>
        </table>
      </div>

  </template>
  <script>

// Heredamos del Polymer element.
      Polymer({
        is: 'my-mongocomponente',
        //son la propiedades del Polymer. Es donde vamos a guardar los valores que se pueden cambiar de
        //manera dinámica dentro del código HTML.
        properties:{
                listado: Array,
                clave: String,
                titulo: String,
                texto: String,
                nombre: String,
                fechaHoy: String
            },
        listeners: {
        },

//Con boton GrabarPost se incluye nuevas entradas en la colección post

        grabarPost: function() {
          var URLItem = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy";
          //-- compruebo si el usuario ha hecho Login -->
          //var usuario = sessionStorage.getItem("usuario");
          var controllogin = null;
          var usuario = sessionStorage.getItem("usuario");

          if (usuario != controllogin )
              {
             var titulo = document.getElementsByName("tituloInput")[0].value;
             var texto = document.getElementsByName("textoInput")[0].value;
             var localidad = document.getElementsByName("localidadInput")[0].value;
             var provincia = document.getElementsByName("provinciaInput")[0].value;
             var fecha = document.getElementsByName("fechaInput")[0].value;
             console.log("Titulo: " + titulo + "Texto: " + texto + "Localidad: " + localidad + "Provincia: " + provincia);

             var peticion = new XMLHttpRequest();
             peticion.open("POST", URLItem, false);
             peticion.setRequestHeader("Content-Type", "application/json");
             peticion.send('{"titulo":"' + titulo + '", "texto": "' + texto + '", "localidad": "' + localidad + '", "provincia": "' + provincia + '", "valoracion":"0", "autor": "' + usuario + '", "fecha": "' + fecha + '"}');
      //Si el alta  ha sido correcta forzamos la recarga de los post. De este modo vemos que la nuevas
      //entradas se muestran en la parte de arriba de la lista de post.
            console.log("JSON Post: ", '{"titulo":"' + titulo + '", "texto": "' + texto + '", "localidad": "' + localidad + '", "provincia": "' + provincia + '", "valoracion":"0", "autor": "' + usuario + '", "fecha": "' + fecha + '"}');
              if (peticion.status == 200)
                  {
                    this.$.tituloInput.value = "";
                    this.$.textoInput.value = "";
                    this.$.localidadInput.value = "";
                    this.$.provinciaInput.value = "";
                    this.obtenerMisPost();
                  } else {
                    alert("ha habido un problema: " + peticion.responseText);
                         }
              }
           else
              {
                alert("Usuario no logado");
//                document.getElementsByName("mensajelab")[0].value = "Por favor, haz login antes de publicar un post";
              }
          },

// obtenerPost obtiene la lista de post de tu database y collections en mlab
//           en mi caso database es 'bootcamp'
//           en mi caso las colecciones 'posts'
//           se le añade el apiKey de malb: con el apiKey ya identificamos que es nuestro area dentro de mlab
//           {"_id": -1} provoca que los post aparezcan ordenados de modo descendente por el ID que asigna
//                        mongoDB. Así se muestran los post de más nuevos a más antiguos.
      obtenerPost: function() {
        const URL = 'https://api.mlab.com/api/1/databases/bootcamp/collections/posts?s={"_id": -1}&apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy';
        var response;
        document.getElementsByName("mensajelab")[0].value = "";
        var peticion = new XMLHttpRequest();
        peticion.open("GET", URL, false);
        peticion.setRequestHeader("Content-Type", "aplication/json");
        peticion.send();

        response = JSON.parse(peticion.responseText);
//en response se recoge el texto plano que devuelve la api de mlab y se parse como json
// de este modo podemos tratarla y pintarla.
//'listado' es la variable que hemos creado en las 'properties' del Polymer
// Además 'listado' es el valor que se pasa en la variable del template que tiene 'dom-repeat'
// Como 'dom-repeat' espera un JSON ya puede pintarlo tantas veces como sea necesario
        this.listado = response;
        console.log(response);
      },

      obtenerMisPost: function() {
        var controllogin = null;
        var usuario = sessionStorage.getItem("usuario");
        document.getElementsByName("mensajelab")[0].value = "";

        if (usuario != controllogin ) {
          var URL = 'https://api.mlab.com/api/1/databases/bootcamp/collections/posts?q={"autor":"' + usuario + '"}&apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy';
          var response;
          var peticion = new XMLHttpRequest();
          peticion.open("GET", URL, false);
          peticion.send();

          response = JSON.parse(peticion.responseText);
          this.listado = response;
          console.log(response);
          if (this.listado.length == 0)
            {
              console.log(this.listado.length);
              alert ("No tienes entradas");
            }
        }
          else {
//             document.getElementsByName("mensajelab")[0].value = "Usuario no logado";
             alert("Usuario no logado");
               }
      },

//BorrarPost, al tener seleccionado por ID hace borrado por clave
//***
      borrarPost: function(event) {
        var clave = event.target.value;
        var peticion = new XMLHttpRequest();
//En la URL incluimos la clave para borrar sólo el elemento en cuestión.
//  en mi caso indico la database --> bootcamp
//  en mi caso indico la colección --> posts
//  en mi caso indico el elemento a elimianr --> clave
        var URLItem = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts/"+clave;
        URLItem += "?apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy";
        var usuario = sessionStorage.getItem("usuario");
        var controllogin = null;

        if (usuario != controllogin )
        {
          peticion.open("DELETE", URLItem, false);
          peticion.setRequestHeader("Content-Type","application/json");
          peticion.send();
//Si el borrado ha sido correcto entonces recargamos la lista de posts.
          if (peticion.status == 200)
          {
            this.obtenerMisPost();
          } else {
            alert("ha habido un problema: " + peticion.responseText)
          }
        } else {
           alert("Usuario no logado");
//           document.getElementsByName("mensajelab")[0].value = "Por favor, haz login antes de borrar un post";
             }
        },

//******* MODIFICAR POST: debería permitir editar la información que muestra... Pendiente
      modificarPost: function(event) {
        var clave = event.target.value;
        var peticion = new XMLHttpRequest();
       //En la URL incluimos la clave para borrar sólo el elemento en cuestión.
      //  en mi caso indico la database --> bootcamp
      //  en mi caso indico la colección --> posts
     //  en mi caso indico el elemento a elimianr --> clave
        var URLItem = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts/"+clave;
           URLItem += "?apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy";
        var usuario = sessionStorage.getItem("usuario");
        var controllogin = null;
        alert("Mejora continua");

        if (usuario != controllogin )
           {
            peticion.open("GET", URLItem, false);
            peticion.setRequestHeader("Content-Type","application/json");
            peticion.send();
        //Si el borrado ha sido correcto entonces recargamos la lista de posts.
                  if (peticion.status == 200)
                  {
                    this.obtenerMisPost();
                  } else {
                    alert("ha habido un problema: " + peticion.responseText)
                  }
                } else {
                   document.getElementsByName("mensajelab")[0].value = "Por favor, haz login antes de borrar un post";
                     }
                },

//***** Recogemos Fecha dia para informar el campo correspondiente de la colleccion
      obtenerFecha: function() {
         var f = new Date();
         var mes = f.getMonth() + 1;
         this.fechaHoy = f.getFullYear() + "/"
         if (mes < 10) { this.fechaHoy += "0" + mes + "/" }
         else { this.fechaHoy += mes + "/" }
         if (f.getDate() < 10) { this.fechaHoy += "0" + f.getDate() }
         else { this.fechaHoy += f.getDate() }
       },

//**** esta funcion se ejecuta siempre que se carga la pagina
       ready: function() {
         this.obtenerFecha();
         document.getElementsByName("mensajelab")[0].value = "";
         }
  })
    </script>
</dom-module>
