<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<!-- Añadimos compoenente que viene para en linea inferior para sacar array (    <template is="dom-repeat" items="...)-->
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="my-prueba">
  <template>
    <script src="consumepostsmongo.js" charset="utf-8"></script>
    <style>
      :host {  /* Para referenciar el estilo de mi componente */
        display: inline-block;
        background-color: inherit; <!-- Indico color de fondo para diferenciar area del compoennte -->
      }
    </style>

    <!-- Metemos parte para interactuar con MongoDB -->
    <div>
      Titulo:
      <input type="text" name="tituloInput"/>
      <p>
      Texto:
      <input type="text" name="textoInput"/>
    </div>

    <div><button type="button" name="btnObtenerPosts" on-click="obtenerPosts">Obtener posts MongoDB</button></div>
    <p>

    <template is="dom-repeat" items="[[posts]]">
      <div>
        <b>Título:</b> [[item.titulo]], <b>Texto:</b> [[item.texto]]<p>
        <button value="{{item._id.$oid}}" on-clik="borrarPost">Borrar</button>
      </div>
    </template>

  </template>
    <script>
      /* Lo siguiente es porque heredamos del Polymer element. Se podria hacer como en my-view poniendo class...
      class MyView1 extends Polymer.Element {
        static get is() { return 'my-view1'; }
      }
      */
      Polymer({
        is: 'my-prueba',
        properties: {
          posts: {
            type: Array,
            notify: true //Automáticamente refresca cuando cambia algo...(se supone)
          }
        },
        listeners: {
        },
        obtenerPosts: function() {
          var peticion = new XMLHttpRequest();
          var URL = 'https://api.mlab.com/api/1/databases/bootcamp/collections/posts?s={"_id": -1}&apiKey=VVCP2mSemwKh8gaeAbhw3kOQ2hXrkpNy';
          var response;
          peticion.open("GET", this.url, false); //true = asincrono
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send();
          response = JSON.parse(peticion.responseText);
          this.posts = response;
          sessionStorage["posts"] = peticion.responseText;
          console.log("ROD: " + response);        },

      salir: function () {
          localStorage.removeItem('session');
          this.session=null;
             },
             //**** esta funcion se ejecuta siempre que se carga la pagina

      ready: function() {
          this.salir();
        }
      })
    </script>
</dom-module>
