<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<dom-module id="my-register">
  <template>
    <style>
      :host{
        display: inline-block;
        background-color: inherit;
      }
    </style>

    <custom-style>
      <style is="custom-style">
        .general {
          width: 90%;
          height: 40px;
        }
      </style>
    </custom-style>

  <div class = "container" style="max-width: 400px">
  	<div class="wrapper">
  		<div name="Register_Form" class="form-signin">
  		    <h3 class="form-signin-heading">Bienvenido </h3>
          <hr class="colorgraph"><br>
          <i class="glyphicon glyphicon-user"></i>
  			  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Username" required="" autofocus="" />
          <i class="glyphicon glyphicon-envelope"></i>
          <input type="emial" class="form-control" id="email" name="email" placeholder="E-mail" required=""/>
          <i class="glyphicon glyphicon-lock"></i>
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required=""/>
  			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit" on-click="crearUsuario">Crear Usuario</button>
      <input name="mensajereg" type="text" style="border:0; background-color:inherit; font-size:large; font-weight:bold; color:red; text-transform:uppercase;">
      </div>
  	</div>
  </div>
  </template>

  <script>
    Polymer({
      is: 'my-register',
      properties: {
        URLregister: {
          type: String,
          value:"http://postgrebc9688.cloudapp.net:3000/api/usuarios"
        }
      },
      listeners: {
      },
      crearUsuario: function() {
          var nombre = document.getElementsByName("nombre")[0].value;
          var email = document.getElementsByName("email")[0].value;
          var password = document.getElementsByName("password")[0].value;
          console.log(nombre);
          console.log(email);
          console.log(password);
          var controlregistro = null;

               if (nombre <= controlregistro)
               {
                 alert("Error al crear Usuario, informa usuario");
        //         document.getElementsByName("mensajereg")[0].value = "Error al crear Usuario, informa usuario";
               }
               else
               {
                 if (email <= controlregistro)
                   {
                    alert("Error al crear Usuario, informa email");
                  //   document.getElementsByName("mensajereg")[0].value = "Error al crear Usuario, informa email";
                   }
                 else
                   {
                     if (password <= controlregistro)
                       {
                        alert("Error al crear Usuario, informa password");
                  //       document.getElementsByName("mensajereg")[0].value = "Error al crear Usuario, informa password";
                       }
                     else
                         {
                           var peticion = new XMLHttpRequest();
                           peticion.open("POST", this.URLregister, false);
                           peticion.setRequestHeader("Content-Type", "application/json");
                           peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                           peticion.send('{"nombre":"' + nombre + '", "email": "' + email + '", "password": "' + password + '"}');
                           console.log('{"nombre":"' + nombre + '", "email": "' + email + '", "password": "' + password + '"}');
                           var respuesta = JSON.parse(peticion.responseText);
                           console.log(peticion.responseText);
                           if (peticion.status=="200")
                           {
                               alert("Alta Usuario correcta");
                          //     document.getElementsByName("mensajereg")[0].value = "Alta usuario correcta";
                               sessionStorage.setItem("usuario", nombre);
                               this.$.nombre.value = "";
                               this.$.email.value = "";
                               this.$.password.value = "";
                           }
                           else
                           {
                               alert("Error al crear Usuario");
                          //     document.getElementsByName("mensajereg")[0].value = "Error al crear Usuario";
                           }
                         }
                   }
               }
           },
//**** esta funcion se ejecuta siempre que se carga la pagina
        ready: function() {
              document.getElementsByName("mensajereg")[0].value = "";
          }
         })
  </script>
</dom-module>
